:root{
    --main-color:#0b0b0b;


    .link{
        text-decoration:none;
        color:inherit;

    }
}
body{
    height: 300vh;
    weight:100vw;
    background-color: var(--main-color);
}
:root {
  --main-color: #0b0b0b;
}

.link {
  color: inherit;
  text-decoration: none;
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}