.register {
    width: 100vw;
    height: 100vh;

    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%
        ),
        url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1280,h_720,q_75,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw")
       ;

    background-size: cover;
    position: relative;

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 40px;
            }
            .loginbutton{
                background-color: red;
                border: none;
                color: white;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
    .container{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        h1{
            font-size: 50px;
        }
        h2{
            margin: 20px;
        }
        p{
            font-size: 20px;
        }
        .input{
            width: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            height: 50px;
            border-radius: 5px;
            


            input{
                flex:9;
                height: 100%;
                border: none;
                padding: 0 10px;
            }
            .registerbutton{
                flex: 3;
                height:  100%;
                background-color: red;
                color: white;
                font-size: 22px;
                cursor: pointer;
            }
        }
    }

}
